/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

.button1 {
  border: 16px solid goldenrod;
  border-radius: 15px;
  color: blueviolet;
}

.button2 {
  color: mediumaquamarine;
  background-color: palegreen;
  font-size: 20px;
}

.button3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
}

.button4 {
  box-shadow: 20px 20px 5px salmon;
  text-shadow: 1px 1px 1px green;
}

/* Feel free to play around with other properties, as well. */
