*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

div {
  font-family: cursive;
  padding: 8px;
  height: 150px;
  background-color: hotpink;
  color: white;
  border-radius: 80px;
  padding: 30px;
}
